<center><font color = '#F88158'><h1>‚õπüèª‚Äç‚ôÇÔ∏èNATIONAL BASKETBüèÄLL ASSOCIATION‚õπÔ∏è‚Äç‚ôÇÔ∏è</h1></font></center>

# External Dependencies

In [1]:
# Data Manipulation
from pandas import read_csv

# Data Mining

## Exploratory Data Analysis (EDA)

In [6]:
# Loading the dataset for exploration.
df = read_csv('Data/data4.csv')

In [7]:
# First look on the dataset.
df

,gameid,date,type,teamid,team,home,away,MIN,%FGA 2PT,%FGA 3PT,...,%PTS OFF TO,%PTS PITP,2FGM %AST,2FGM %UAST,3FGM %AST,3FGM %UAST,FGM %AST,FGM %UAST,win,season
0,29600001,1996-11-01,regular,1610612738,BOS,BOS,CHI,48.0,76.2,23.8,...,16.3,49.0,46.7,53.3,75.0,25.0,52.6,47.4,0,1997
1,29600001,1996-11-01,regular,1610612741,CHI,BOS,CHI,48.0,82.4,17.6,...,19.6,52.3,68.3,31.7,0.0,100.0,66.7,33.3,1,1997
2,29600002,1996-11-01,regular,1610612751,NJN,NJN,CLE,48.0,69.0,31.0,...,18.2,33.8,50.0,50.0,66.7,33.3,56.5,43.5,0,1997
3,29600002,1996-11-01,regular,1610612739,CLE,NJN,CLE,48.0,86.1,13.9,...,26.7,40.0,44.8,55.2,60.0,40.0,47.1,52.9,1,1997
4,29600003,1996-11-01,regular,1610612749,MIL,PHI,MIL,48.0,89.3,10.7,...,9.9,41.4,55.9,44.1,50.0,50.0,55.3,44.7,1,1997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68123,42200403,2023-06-07,playoff,1610612743,DEN,MIA,DEN,48.0,77.5,22.5,...,7.3,55.0,63.9,36.1,100.0,0.0,68.3,31.7,1,2023
68124,42200404,2023-06-09,playoff,1610612748,MIA,MIA,DEN,48.0,67.9,32.1,...,8.4,48.4,59.3,40.7,87.5,12.5,65.7,34.3,0,2023
68125,42200404,2023-06-09,playoff,1610612743,DEN,MIA,DEN,48.0,64.6,35.4,...,15.7,44.4,56.0,44.0,85.7,14.3,66.7,33.3,1,2023
68126,42200405,2023-06-12,playoff,1610612743,DEN,DEN,MIA,48.0,66.7,33.3,...,12.8,63.8,51.5,48.5,80.0,20.0,55.3,44.7,1,2023
68127,42200405,2023-06-12,playoff,1610612748,MIA,DEN,MIA,48.0,63.5,36.5,...,11.2,49.4,54.2,45.8,55.6,44.4,54.5,45.5,0,2023

#### Observations:
1. So, the data contains ID fields which should be removed - *gameid* and *teamid*.
2. Also, the *date* could be set as an index for the time-series analysis.

### Statistical Analysis

In [10]:
# Determining the datatypes with the value-count.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68128 entries, 0 to 68127
Data columns (total 25 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   gameid       68128 non-null  int64
 1   date         68128 non-null  object
 2   type         68128 non-null  object
 3   teamid       68128 non-null  int64
 4   team         68128 non-null  object
 5   home         68128 non-null  object
 6   away         68128 non-null  object
 7   MIN          68128 non-null  float64
 8   %FGA 2PT     68128 non-null  float64
 9   %FGA 3PT     68128 non-null  float64
 10  %PTS 2PT     68128 non-null  float64
 11  %PTS 2PT MR  68128 non-null  float64
 12  %PTS 3PT     68128 non-null  float64
 13  %PTS FBPS    68128 non-null  float64
 14  %PTS FT      68128 non-null  float64
 15  %PTS OFF TO  68128 non-null  float64
 16  %PTS PITP    68128 non-null  float64
 17  2FGM %AST    68128 non-null  float64
 18  2FGM %UAST   68128 non-null  float64
 19  3FGM %AST    68128 non-null  float64
 20  3FGM %UAST   68128 non-null  float64
 21  FGM %AST     68128 non-null  float64
 22  FGM %UAST    68128 non-null  float64
 23  win          68128 non-null  int64
 24  season       68128 non-null  int64
dtypes: float64(16), int64(4), object(5)
memory usage: 13.0+ MB

In [11]:
# Statistical Data Analysis.
df.describe()

,gameid,teamid,MIN,%FGA 2PT,%FGA 3PT,%PTS 2PT,%PTS 2PT MR,%PTS 3PT,%PTS FBPS,%PTS FT,%PTS OFF TO,%PTS PITP,2FGM %AST,2FGM %UAST,3FGM %AST,3FGM %UAST,FGM %AST,FGM %UAST,win,season
count,6.812800e+04,6.812800e+04,68128.000000,68128.000000,68128.000000,68128.000000,68128.000000,68128.000000,68128.000000,68128.000000,68128.000000,68128.000000,68128.000000,68128.000000,68128.000000,68128.000000,68128.000000,68128.000000,68128.000000,68128.000000
mean,2.356169e+07,1.610613e+09,48.353762,74.610019,25.392494,59.897751,18.507107,21.887447,12.727501,18.216128,16.306353,41.392455,52.697599,47.304217,83.581790,15.642472,59.010884,40.990464,0.500000,2010.158026
std,5.789194e+06,8.600162e+00,1.495026,10.455343,10.455169,10.002122,9.287594,10.546928,6.120136,6.037793,5.878997,8.722394,12.085570,12.085536,18.567532,17.088052,10.564699,10.564791,0.500004,7.704154
min,2.000000e+07,1.610613e+09,47.400000,30.800000,0.000000,15.700000,0.000000,0.000000,0.000000,0.900000,0.000000,8.000000,4.300000,2.900000,0.000000,0.000000,10.700000,2.600000,0.000000,1997.000000
25%,2.070007e+07,1.610613e+09,48.000000,67.700000,17.600000,53.200000,11.600000,14.000000,8.300000,13.900000,12.100000,35.400000,44.400000,39.100000,75.000000,0.000000,51.700000,33.300000,0.000000,2004.000000
50%,2.140022e+07,1.610613e+09,48.000000,75.900000,24.100000,60.200000,18.000000,21.000000,12.100000,17.900000,15.900000,41.300000,52.800000,47.200000,87.500000,12.500000,59.100000,40.900000,0.500000,2010.000000
75%,2.210044e+07,1.610613e+09,48.000000,82.400000,32.300000,66.700000,24.700000,28.800000,16.500000,22.100000,20.000000,47.200000,60.900000,55.600000,100.000000,25.000000,66.700000,48.300000,1.000000,2017.000000
max,5.220021e+07,1.610613e+09,68.000000,100.000000,69.200000,93.200000,63.600000,69.600000,46.300000,48.800000,44.700000,79.600000,97.100000,95.700000,100.000000,100.000000,97.400000,89.300000,1.000000,2023.000000

## Missing Values

## Missing Values Operation

## Outlier Detection

## Outlier Operation

# Machine Learning

# Data Visualization